<%- include('../partials/header.ejs', { pageTitle: '404' }) %>

    <div style="text-align: center; margin: 5rem 0;">
        <h1 style="font-size: 4rem; color: var(--text-main);">404</h1>
        <p style="font-size: 1.2rem; color: var(--text-muted); margin-bottom: 2rem;">Oops! The page you are looking for
            does not exist Contact the admin LEO JOEL ROYS.</p>
        <a href="/" class="btn btn-primary" style="color: white;">Return to Home</a>
    </div>

    <%- include('../partials/footer.ejs') %>